#brodreceived .list {
    text-align: left;
    max-width: 1500px;
    margin: auto;
  }

  /* #brodreceived .leftpart {
      justify-content: start;

} */

  #brodreceived .form-control {
      margin-top: 5%;
      
  }

  #brodreceived .input-group-append .searchbuttom{
    margin-top: 33%;
}

/* #brodreceived .list-group-comp {

} */

#brodreceived .list-group {
  /* max-width: 960px; */
  /* justify-content: start; */
  /* width: 30rem; */
  /* margin: 0 auto; */
  box-shadow: 0 0 35px rgba(131, 79, 79, 0.4);
  border-radius: 10px;

}
/* 
.list-group-comp{
  align-content: flex-end;

} */

#brodreceived .list-group-item {
  height: 100px;
  margin-bottom: 10px;
  border-radius: 10px;
  overflow: hidden;
}

/* #brodreceived .message {
  overflow: hidden;

} */
#brodreceived .Name {
  font-weight: bold;
  font-size: 20px;

 }

 #brodreceived .Time {
  font-weight: lighter;
  font-size: 15px;

 }

 #brodreceived .message {
   font-style: italic;

}
#brodreceived .description {
  background: white;
  max-width: 500px;
  /* max-width: 500px; */
  height: fit-content;
  margin-top: 4rem;
  padding: 1rem 1rem;

  
  /* width: 90rem; */
  /* margin: 0 auto; */
  align-content: center;
  box-shadow: 0 0 45px rgba(131, 79, 79, 0.4);
  border-radius: 10px;
  text-align: justify;

}
  
#brodreceived .submit-form {
    max-width: 300px;
    margin: auto;
  }
  
  #brodreceived .edit-form {
    max-width: 300px;
    margin: auto;
  }

  #brodreceived .badge {
      background: rgb(6, 156, 243);
      text-decoration: none;
  }

  #brodreceived .clickon {
    width: 500px;
  }


  #brodreceived form {
    justify-content: center;
}
#brodreceived .createform {
    margin-top: 4rem;
    margin-left: 15rem;
    max-width: 800px;
    height: fit-content;
    box-shadow: 0 0 45px rgba(131, 79, 79, 0.4);
    border-radius: 10px;
}

#brodreceived .form-group {
    width: 100%;
    margin-bottom: 2rem;
   
 }
 #brodreceived .chkbox {
    /* display: flex; */
    align-content: flex-start;
    margin-top: 5px;
}

#brodreceived .chkboxiput {
    margin-left: 35px;
}

#brodreceived .infocreate {
     margin-top: 5px;

}

#brodreceived #prod {
    margin-left: 22px;
}

#brodreceived #lang {
    margin-left: 10px;
}

#brodreceived label {
    font-size: 1rem;
  }

/* 
form {
    width: 100%;
justify-content: center;
}
.form-group {
  width: 100%;
  margin-bottom: 2rem;
}
label {
  font-size: 1.8rem;
}

*/
#brodreceived input,
textarea {
  font-size: 15px;
  /* padding: 1.2rem; */
  color: var(--gray-1);
  background-color: var(--deep-dark);
  outline: none;
  border: none;
  border-radius: 8px;
  /* margin-top: 1rem; */
}

#brodreceived textarea {
  /* min-height: 150px; */
  resize: vertical;
}
/* button[type='submit'] {
  background-color: var(--gray-1);
  color: var(--black);
  font-size: 2rem;
  display: inline-block;
  outline: none;
  border: none;
  padding: 1rem 4rem;
  border-radius: 8px;
  cursor: pointer;
}  */


 