#procomponent .list {
    text-align: left;
    max-width: 750px;
    margin: auto;
 
  }
  
  #procomponent .submit-form {
    max-width: 300px;
    margin: auto;
  }
  
  #procomponent .edit-form {
    max-width: 300px;
    margin: auto;

  }

  #procomponent .badge {
      margin: 5px;
  }
  
  #procomponent .infoeditprice {
    margin-top: 10px;
    margin-bottom: 20px;
    padding-top: 10px;
    max-width: 100%;
    box-shadow: 0 0 45px rgba(131, 79, 79, 0.4);
    border-radius: 10px;

  }