#dict form {
    justify-content: center;
}

#dict .topic {
    margin-top:3rem;
    margin-left: 5rem;
    font-style: italic;
    font-weight: bold;

}
#dict .dictionary {
    margin-top: 1rem;
    margin-left: 4rem;
    box-shadow: 0 0 45px rgba(131, 79, 79, 0.4);
    border-radius: 10px;
    max-width: 800px;
}

#dict .form-group {
    width: 100%;
    margin-bottom: 2rem;
   
 }

#lang {
    margin-left: 10px;
}

#lang label {
    font-size: 1rem;
  }

#dict .input,
textarea {
  font-size: 15px;
  /* padding: 1.2rem; */
  color: var(--gray-1);
  background-color: var(--deep-dark);
  outline: none;
  border: none;
  border-radius: 8px;
  /* margin-top: 1rem; */
}

#dict .addbutton {
    margin-left: 0px;
}

#dict .tablelist{
    margin-top: 1rem;
    margin-bottom: 5rem;
}

#dict .table{
    margin-top: 1rem;
    /* margin-right: 5rem; */
    max-width: 90%;
}

.page-header{
    /* margin-top: 1rem; */
    /* margin-bottom: 5rem; */
    margin-left: 4rem;
    text-decoration: none;
    cursor: pointer;
    font-size: 15px;
}

#dict table {
    margin-left: 4rem;
    font-size: 15px;

}

/* #dict .listofdicts{
    
} */

.diclist {
    margin-left: 4rem;
    margin-right: 4.5rem;
}

.editing{
    
        background: white;
        max-width:fit-content;
        /* max-width: 500px; */
        height: fit-content;
        margin-top: 4.5rem;
        padding: 1rem 1rem;
        
        
        /* width: 90rem; */
        /* margin: 0 auto; */
        align-content: center;
        box-shadow: 0 0 15px rgba(131, 79, 79, 0.4);
        border-radius: 10px;
        text-align: justify;
        
      
      
}

.linkeditiword {
    text-decoration: none;
}

#dict .wordclickon{
    text-decoration: none;
}

.alignbuttons {
    margin-right: 1rem;
}